html{
    scroll-behavior: smooth;
}
body{
    background-color: #ccc;
}
#header a:hover{
   color: #fff;
}
.nav-item a{
    text-decoration: none;
    margin-left: 15px;
    color:#ccc;
}
.navbar-brand h3{
    font-family: 'Ubuntu', sans-serif;
}
#bg-img{
    background: url("/Image/laptop.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}
#about{
    margin-top: -200px;
}
#about .fa{
    color:#fff;
}
.media-body h3{
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}
#about span,#skills span,#myworks span,#contact span{
    padding: 10px 20px;
}
#about hr,#skills hr,#myworks hr,#contact hr{
    border-width: 2px;
    margin-top: 6px;
}
.worddist{
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 7px;
}
